{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock title %}Life Pro Tips</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>