{% extends 'ex01/base.html' %}

{% block title %}Ex01: Django, framework web.{% endblock %}


{% block content %}
<h1>Django, framework web.</h1>
<p>
  Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
  Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel.
  It's free and open source.
</p>

<h1>History of Django</h1>
<p>
  Django was born in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, 
  Adrian Holovaty and Simon Willison, began using Python to build applications.
  It was released publicly under a BSD license in July 2005.
  The framework was named after guitarist Django Reinhardt.

  Django was created to meet fast-moving newsroom deadlines, while satisfying the tough requirements of experienced Web developers.
  It lets you build high-performing, elegant Web applications quickly.
  Django focuses on automating as much as possible and adhering to the DRY principle.
  Django intends to ease the development of complex, database-driven websites.
</p>

{% endblock %}