{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %} Account {% endblock title %}

{% block content%}
<h1>Account</h1>
<div id="errorMessages" style="display: none;" class="alert alert-danger"></div>

<div id="userMenu" style="display: none;">
  <h2>Logged as <span id="usernameText"></span></h2>
  <p><a href="{% url 'chatroom_list' %}" class="btn btn-primary">Let's go chat!</a></p>
  <button id="logoutButton" class="btn btn-secondary">Logout</button>
</div>

<form id="loginForm" method="post" style="display: none;" >
  {% bootstrap_form login_form %}
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
</form>

{% endblock %}

{% block script %}
<script>var CSRF_TOKEN = '{{ csrf_token }}';</script>
<script src="{% static 'account_script.js' %}"></script>
{% endblock %}