{% extends "base.html" %}

{% load static %}

{% block title %} article detail: {{ article.title }} {% endblock title %} 

{% block body_title %} Aricle detail {% endblock body_title %}


{% block content %}
  <div class="container-fluid mt-4">
    <h2 class="mb-3">{{ article.title }}</h2> 
    <p>{{ article.synopsis }}</p>
    <p>{{ article.content }}</p>
    <p>Author: {{ article.author.username }}</p>
    <p>Created: {{ article.created }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add to favourite</button> 
    </form>
  </div>
{% endblock %}