{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% bootstrap_css %} {% bootstrap_javascript %}
    <title>{% block title %}{% endblock title %} | My awesome articles</title>
  </head>
  <body>
    <div class="container">
      <form action="{% url 'set_language' %}" class="d-flex justify-content-end" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" class="form-select form-select-sm w-auto">
            <option value="en">English</option>
            <option value="ko">한국어</option>
        </select>
        <input type="submit" value="Change" class="btn btn-primary btn-sm ml-2">
      </form>
      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %} 
      <div class="d-flex align-items-baseline">
        <h1>{% block body_title %}{% endblock body_title %}</h1>
        <h3 style="margin-left: 1rem !important;" class="text-secondary">{% block body_subtitle %}{% endblock body_subtitle %}</h3>
      </div>
      <hr />
      {% include "nav.html" %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>