{% load django_bootstrap5 %}
{% load i18n %}

<nav class="navbar rounded navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Left side items -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articles' %}"> {% trans "Newest articles" %}</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'favorites' %}"> {% trans "Favorites" %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'publications' %}"> {% trans "Publications"%} </a>
            </li>

          {% endif %}

        </ul>
  
        <!-- Right side items -->
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"> {% trans "Logged as" %}  {{ user.username }}</a>
                </li>
                
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link"> {% trans "Logout" %}</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}"> {% trans "Register"%}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"> {% trans "Login"%}</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>