{% extends "base.html" %}

{% block title %} Publications {% endblock title %}
{% block body_title %}Publications{% endblock body_title %}
{% block body_subtitle%}Your publications{% endblock body_subtitle%}

{% block content %}
<a href="{% url 'publish' %}" class="btn btn-primary mt-3 mb-3">Publish a new article</a>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for article in publications %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.synopsis }}</td>
          <td>{{ article.created }}</td>
          <td><a href="{% url 'article_detail' article.pk %}" class="btn btn-secondary">Detail</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
